### Files that should be downloded from Oracle
files/*.zip

### Configuration file
.env

### VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace